
/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1024px) {
    .address-wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .search {
		margin-left: 0;
		margin-right: 40px;
		&::before {
			left: 180px;
		}
	}
}

@media only screen and (max-width : 768px) {
	// .main-navigation-wrapper_desc {
	//     display: none;
	// }
	// .main-navigation-wrapper_mob {
	// 	display: block;
	// 	align-items: center;
	// }
	.sub-menu-wrapper {
	    background-color: #ffffff;
	}
	.address-wrapper {
	    padding: 10px 10px 0;
	}
}

@media only screen and (max-width : 640px) {
	// .main-navigation-wrapper_mob {
	//     display: none;
	// }
	// .main-navigation-wrapper_mob-xs {
	//     display: block;
	// }
	.address-wrapper {
		padding-top: 0px;
		flex-direction: column-reverse;
	}
	.search {
		margin-top: 3px;
	    margin-left: 30px;
	    &::before {
	        left: -30px;
		}
	}
	.sub-menu {
		align-items: center;
	}
	.sub-menu__item::before {
		display: none;
	}
	.address {
		margin-top: 15px;
	}
}