* {
	margin: 0;
	
}

html {
   -webkit-text-size-adjust:none;
   text-size-adjust:none;
}

body {
    margin: 0;
    font-family: 'Gotham Pro', sans-serif;
    
    -webkit-font-smoothing: antialiased;
    transform: translate3d(0, 0, 0);
}

ul {
	padding: 0;
	list-style-type: none;
}

li {
	padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
