//- .location-place-one-dropdown
//-   .scroll-wrapper
//-     .location
//-     .close-btn
//-   .current-location Current Location
//-     p Already included
//-       span Saint Peterburg, Russia, + 160 km
//-     p Distance
section.tic-cities-dropdown
  .tic-cities-input
    .tic-cities-tags-sm-box
      div
        .tic-cities-tags-sm-list
          div Espa単a
            span
          div Espa単a
            span
          div Espa単a
            span
          div Espa単a
            span
          input(type="text" autofocus="autofocus")
    span
    //- i.fa.fa-times(aria-hidden="true")
  .tic-cities-selected.tic-box
    .cur-location Current location
    .tic-cities-selected-title
      p Already included
      div
    ul
      li
        span Saint Peterburg, Russia, + 160 km
        div
  .tic-cities-slider.tic-box
        p.tic-marktop Distance
        span The distance applies to all selected cities
        .vue-slider.vue-slider-ltr(aria-hidden="true" class="" style="padding: 7px 0px; width: auto; height: 2px;")
          .vue-slider-rail
            .vue-slider-process(style="height: 100%; top: 0px; left: 0%; width: 0%; transition-property: width, left; transition-duration: 0.5s;")
          .vue-slider-marks
            .vue-slider-mark.vue-slider-mark-active(style="height: 100%; width: 4px; left: 0%;")
              .vue-slider-mark-step.vue-slider-mark-step-active
              .vue-slider-mark-label.vue-slider-mark-label-active 50
            .vue-slider-mark.vue-slider-mark-active(style="height: 100%; width: 4px; left: 25%;")
              .vue-slider-mark-step.vue-slider-mark-step-active
              .vue-slider-mark-label.vue-slider-mark-label-active 100
            .vue-slider-mark.vue-slider-mark-active(style="height: 100%; width: 4px; left: 50%;")
              .vue-slider-mark-step.vue-slider-mark-step-active
              .vue-slider-mark-label.vue-slider-mark-label-active 150
            .vue-slider-mark.vue-slider-mark-active(style="height: 100%; width: 4px; left: 75%;")
              .vue-slider-mark-step.vue-slider-mark-step-active
              .vue-slider-mark-label.vue-slider-mark-label-active 200
            .vue-slider-mark.vue-slider-mark-active(style="height: 100%; width: 4px; left: 100%;")
              .vue-slider-mark-step.vue-slider-mark-step-active
              .vue-slider-mark-label.vue-slider-mark-label-active 250
          .vue-slider-dot(style="width: 12px; height: 12px; transform: translate(-50%, -50%); top: 50%; left: 100%; transition: left 0.5s ease 0s;")
            .vue-slider-dot-handle
          .vue-slider-dot(style="width: 12px; height: 12px; transform: translate(-50%, -50%); top: 50%; left: 0%; transition: left 0.5s ease 0s;")
            .vue-slider-dot-handle
          
          input(type="range" min="50" max="250" class="vue-slider-sr-only")
  .tic-cities-scroll
    div
      //- .tic-cities-selected.tic-box
      //-   p Current location
      //-   .tic-cities-selected-title
      //-     p Already included
      //-     div
      //-   ul
      //-     li
      //-       span Saint Peterburg, Russia, + 160 km
      //-       div
      
      //- .tic-cities-options.tic-box
      .tic-cities-options
        p Add places near
          span Saint Petersburg
        ul
          li
            p Moscow, Russia
              span 197 km away
            div
          li
            p Lappeenranta, Finland
              span 197 km away
            div
          li
            p Pskov, Russia
              span 197 km away
            div
          li
            p Krasnodar, Russia
              span 197 km away
            div
          li
            p Moscow, Russia
              span 197 km away
            div
          li
            p Lappeenranta, Finland
              span 197 km away
            div
          li
            p Pskov, Russia
              span 197 km away
            div
          li
            p Krasnodar, Russia
              span 197 km away
            div
