nav.main-navigation
	.main-navigation-wrapper
		.sub-menu-wrapper
			.sub-menu
				.sub-menu__item Castellano
				.sub-menu__item + Agregar un evento
				.sub-menu__item Login
		.menu-logo
			.logo
				img(src="img/Logo_Ticketeria.svg" alt="Logo_Ticketeria" width="220" height="auto")
			.address-wrapper
				.address Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
			.search Event name or location
		.events
			.events-wrapper
				.events__list
					.events__list-item Theatres
					.events__list-item Concerts
					.events__list-item Musicals
					.events__list-item Shows
					.events__list-item Circus
				.events__all
					.events__all-item All Events
					.events__all-item All Venues
					.events__all-item See on map