section
	nav.main-navigation
		.main-navigation-wrapper_desc
			.sub-menu
				ul
					li Castellano
					li + Agregar un evento
					li Login
			.menu-logo
				ul
					li
						a(href="#")
							img(src="img/Logo_Ticketeria.svg" alt="Logo_Ticketeria")
							
					ul.address-wrapper
						li Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
						li Event&nbsp;name&nbsp;or&nbsp;location
			.events
				.events-wrapper
					ul
						li 
							aa(href="#") Theatres
						li 
							aa(href="#") Concerts
						li 
							aa(href="#") Musicals
						li 
							aa(href="#") Shows
						li 
							aa(href="#") Circus
					ul
						li
							aa(href="#") All Events
						li
							aa(href="#") All Venues
						li
							aa(href="#") See on map
		//- .main-navigation-wrapper_mob
		//- 	.menu-logo
		//- 		.logo
		//- 			img(src="img/Logo_Ticketeria.svg" alt="Logo_Ticketeria" width="140" height="auto")
		//- 		.sub-menu-wrapper
		//- 			.sub-menu
		//- 				.sub-menu__item Castellano
		//- 				.sub-menu__item + Agregar un evento
		//- 				.sub-menu__item Login
		//- 				.sub-menu__item
		//- 					img(src="img/menu-btn.svg" alt="menu-btn")
		//- 	.address-wrapper
		//- 		.address Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
		//- 		.search Event&nbsp;name&nbsp;or&nbsp;location
		//- .main-navigation-wrapper_mob-xs
		//- 	.menu-logo
		//- 		.logo
		//- 			img(src="img/logo-mob.svg" alt="Logo_Ticketeria" width="21" height="auto")
		//- 		.sub-menu-wrapper
		//- 			.sub-menu
		//- 				.sub-menu__item Login
		//- 				.sub-menu__item
		//- 					img(src="img/menu-btn.svg" alt="menu-btn")
		//- 	.address-wrapper
		//- 		.address Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
		//- 		.search Event&nbsp;name&nbsp;or&nbsp;location
		//- 	