section
	nav.main-navigation
		.sub-menu-wrapper
			.tic-box
				.sub-menu
					ul.hidden-md
						li All Events
						li All Venues
						li.map See on map
					ul
						li.lang.hidden-sm Castellano
						li.hidden-sm + Agregar un evento
						li Login
						li.burger-menu
							img(src="img/menu-btn.svg" alt="menu-btn")
		
		.menu-logo.tic-box
			ul
				li.logo
					a(href="#")
				ul.address-wrapper
					li Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
					li Event&nbsp;name&nbsp;or&nbsp;location
		.events.tic-box
			ul
				li.drop-menu 
					a(href="#") Theatres&nbsp;&&nbsp;Concerts
				li 
					a(href="#") Football
				li 
					a(href="#") Sport
				li.drop-menu 
					a(href="#") Night&nbsp;life
				li 
					a(href="#") Festivals
				li.drop-menu
					a(href="#") Activities
				li
					a(href="#") Cinema
				li
					a(href="#") With&nbsp;children
				li
					a(href="#") Corrida
				li
					a(href="#") Other