section
  nav.main-navigation
    .sub-menu-wrapper
      .tic-box
        .sub-menu
          ul.hidden-md
            li All Events
            li All Venues
            li.map See on map
          ul
            li.lang.hidden-sm Castellano
            li.hidden-sm + Agregar un evento
            li Login
            li.burger-menu
              img(src="img/menu-btn.svg" alt="menu-btn")
    
    .menu-logo.tic-box
      .logo
        a(href="#")
      ul.address-wrapper
        li Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
          i.fa.fa-map-marker(aria-hidden="true") 
        li 
          input(placeholder="Event name or location")
    .events.tic-cities-dropdown
      .tic-cities-input
        .tic-cities-tags-sm-box
          div
            ul.tic-cities-tags-sm-list
              li.drop-menu 
                a(href="#") Theatres & Concerts
              li 
                a(href="#") Football
              li 
                a(href="#") Sport
              li.drop-menu 
                a(href="#") Night life
              li 
                a(href="#") Festivals
              li.drop-menu
                a(href="#") Activities
              li
                a(href="#") Cinema
              li
                a(href="#") With children
              li
                a(href="#") Corrida
              li
                a(href="#") Other
  //- p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ducimus, rem nam modi! Aperiam, eos repellendus eligendi aut, officia, accusantium similique veritatis necessitatibus quod nihil impedit unde, perspiciatis blanditiis a?
  //- div Nulla a, nam repellat? Harum tempore ea labore et consequatur deleniti, assumenda neque sed sunt odio voluptate amet debitis quas consequuntur repellendus quidem magnam earum, laudantium expedita maxime itaque. Doloribus?
  //- div Unde sapiente animi qui quasi, exercitationem vel facilis voluptatibus illo quae temporibus. Illum deleniti asperiores amet expedita veniam. Laudantium facere veniam non voluptas dolore voluptates qui dolorum officia, dignissimos dolorem.
  
